In [34]:
import pandas as pd

In [35]:
df=pd.read_csv('mcsq.csv')

In [44]:
len(df[df['mcqs'] == '\nYoutube | LinkedIn | Instagram | Facebook | Twitter | Pinterest'])
len(df[df['mcqs'] == '\nTelegram | Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest'])
len(df[df['mcqs'] == '\nParticipate in the Sanfoundry Certification contest to get free Certificate of Merit. Join our social networks below and stay updated with latest contests, videos, internships and jobs!'])
len(df[df['mcqs'] == ''])

0

In [37]:
df.drop(df[df['mcqs'] == '\nYoutube | LinkedIn | Instagram | Facebook | Twitter | Pinterest'].index,inplace=True)
df.drop(df[df['mcqs'] == '\nTelegram | Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest'].index,inplace=True)
df.drop(df[df['mcqs'] == '\nParticipate in the Sanfoundry Certification contest to get free Certificate of Merit. Join our social networks below and stay updated with latest contests, videos, internships and jobs!'].index,inplace=True)

In [38]:
len(df[df['mcqs'] == '\nYoutube | LinkedIn | Instagram | Facebook | Twitter | Pinterest'])
len(df[df['mcqs'] == '\nTelegram | Youtube | LinkedIn | Instagram | Facebook | Twitter | Pinterest'])
len(df[df['mcqs'] == '\nParticipate in the Sanfoundry Certification contest to get free Certificate of Merit. Join our social networks below and stay updated with latest contests, videos, internships and jobs!'])

0

In [39]:
df.head()

   Unnamed: 0                                               mcqs
0           0                                                NaN
1           1  \n1. Which of these best describes an array?\n...
2           2                                                NaN
3           3                                                NaN
4           4                                                NaN

In [40]:
df.to_csv('mcqs1.csv')

In [41]:
df=pd.read_csv('mcqs1.csv')

In [42]:
df.tail()

,Unnamed: 0,Unnamed: 0.1,mcqs
35267,39413,39413,NaN
35268,39414,39414,\n8. The hardware feature of LISP machines gen...
35269,39415,39415,\nTo practice all areas of Artificial Intellig...
35270,39416,39416,NaN
35271,39419,39419,NaN

In [49]:
df.head()

   Unnamed: 0  Unnamed: 0.1                                               mcqs
0           0             0                                                NaN
1           1             1  \n1. Which of these best describes an array?\n...
2           2             2                                                NaN
3           3             3                                                NaN
4           4             4                                                NaN

In [50]:
df.drop('Unnamed: 0.1', axis=1, inplace=True)

In [51]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [52]:
df.to_csv('mcq2.csv')

In [58]:
dff.drop('Unnamed: 0',axis=1,inplace=True)

In [66]:
dff=dff.dropna()

In [69]:
dff.to_csv('final.csv')