In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('mcsq.csv')

In [3]:
df['mcqs'][39420]

'\nYoutube | LinkedIn | Instagram | Facebook | Twitter | Pinterest'

In [4]:
len(df[df['mcqs'] == '\nYoutube | LinkedIn | Instagram | Facebook | Twitter | Pinterest'])

1383

In [5]:
df.drop_duplicates(keep=False, inplace=True)

In [6]:
len(df[df['mcqs'] == '\nYoutube | LinkedIn | Instagram | Facebook | Twitter | Pinterest'])

1383

In [7]:
df.drop(df[df['mcqs'] == '\nYoutube | LinkedIn | Instagram | Facebook | Twitter | Pinterest'].index,inplace=True)

In [8]:
len(df[df['mcqs'] == '\nYoutube | LinkedIn | Instagram | Facebook | Twitter | Pinterest'])

0

In [9]:
df.head()

   Unnamed: 0                                               mcqs
0           0                                                NaN
1           1  \n1. Which of these best describes an array?\n...
2           2                                                NaN
3           3                                                NaN
4           4                                                NaN

In [10]:
len(df[df['mcqs'] == ''])

0

In [ ]:
df.drop(['Unnamed: 0'], axis = 1,inplace=True)